/* @author Amimul Bhuiyan
	@author Julian Zelazny
	Description: This is used to design the Searchscreenfortravelblog class.
	*/

.root{
	-fx-font-weight: bold; 
	//-fx-background-color: linear-gradient( to bottom right, black, white, blue);
	-fx-background-image: url("850x600_beach.jpg"); 
}

	
.label{
	//-fx-text-fill: white;
	-fx-text-fill: linear-gradient( to bottom right, white, orange, red);
}

	
.button{
	/*Adds a background and border radius of 20 for all buttons. The border
	style is removed*/
	-fx-background-radius: 20;
	-fx-border-radius: 20;
	-fx-border-style: none;
	
	/*To keep similiar theme, make the button a purple to tan gradient*/
	-fx-background-color: linear-gradient( to top right, orange, red);
	-fx-text-fill: white;
}

.button: hover{
	/*If the mouse hovers over the button, allow a dotted line to appear,
		translate the button up a bit and scale the button to twice as big */
	
	-fx-border-style: dotted;
	/*-fx-translate-y: -15;*/
	-fx-scale-x: 0.96;
	-fx-scale-y: 0.96;
}

.button:pressed{
	/*If the button is pressed, allow a white border color to appear,
	and add a dropShadow effect*/
	
	-fx-border-color: white;
	-fx-effect: dropshadow( gaussian, black, 10, 0, 5, 5 );
}